$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$borderColor: rgb(158, 158, 158);
$blue: #2f52e0;
$lightBlue: #4e6ce4;
$orange: #ef5116;
$navyBlue: #262946;

.prices {
	display: flex;
	justify-content: center;
	margin-bottom: 5rem;
	@media (max-width: 768px) and (orientation: landscape) {
		margin-bottom: 5rem;
	}

	@media (min-width: 768px) {
		height: 95vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		position: relative;
	}

	.container {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 0 1rem;
		color: $textColor;

		@media (min-width: 768px) {
			max-width: 900px;
			// background: #000;
			width: 100%;
			padding: 2rem;
			align-items: center;
			justify-content: center;
			margin-top: 2rem;
		}

		.loading {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.header {
			color: $textColor;
			display: flex;
			text-align: left;
			align-self: center;
			@media (max-width: 481px) {
				align-self: flex-start;
			}
			@media (min-width: 768px) {
				display: none;
			}
			font-size: 1.5rem;
		}

		.coinPercentDown {
			color: #ff1b1c;
			text-align: right;
		}

		.coinPercentUp {
			color: #68df44;
			text-align: right;
		}

		.calculatorAndMarketInfo {
			margin-bottom: -0.5rem;
			display: flex;
			flex-direction: row;
			align-items: center;
			align-self: center;
			width: 70%;
			@media (max-width: 1170px) {
				width: 100%;
			}
			justify-content: space-between;

			.marketInfoDiv {
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				.marketInfoHeader {
					font-size: 0.95rem;
					margin-top: 0.25rem;
					color: $subColor;
				}

				.marketPercent {
					margin-top: -0.75rem;
					font-size: 1.25rem;
					font-weight: bold;
					text-align: center;
				}
			}

			.calculatorIcon {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.5rem;
				margin-top: -0.5rem;
				border: 1px solid $borderColor;
				color: $textColor;
				border-radius: 50%;
				width: 3rem;
				height: 3rem;
				position: relative;
				cursor: pointer;
			}
		}

		.searchAndSort {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: flex-end;
			width: 70%;
			height: 3rem;

			@media (max-width: 1170px) {
				width: 100%;
			}

			.searchBar {
				display: flex;
				align-items: center;
				justify-content: flex-end;
				position: relative;
				margin-top: -0.15rem;
				transition: width 0.3s ease-in-out;

				input {
					background: transparent;
					outline: none;
					border: 1px solid $borderColor;
					padding: 0.5rem;
					border-radius: 5px;
					height: 1.5rem;
					color: $textColor;
					font-size: 1.15rem;
					transition: width 0.3s ease-in-out;
				}

				input:focus {
					border: 1px solid $lightBlue;
				}

				.searchIcon {
					font-size: 1.5rem;
					height: 100%;
					align-items: center;
					display: flex;
					position: absolute;
					right: 3%;
					cursor: pointer;
				}
				.inactive {
					font-size: 1.3rem;
					display: flex;
					align-items: center;
					justify-content: center;
					height: 2rem;
					width: 2rem;
					border-radius: 100%;
					border: 1px solid $borderColor;
					cursor: pointer;
				}
			}

			.sortBar {
				display: flex;
				width: 90%;
				justify-content: space-between;
				@media (min-width: 480px) {
					margin-top: 0rem;
					display: flex;
					align-items: center;
				}

				p {
					@media (max-width: 767px){
						display: none;
					}
				}

				div {
					padding: 0 0.5rem;
					// width: 3rem;
					display: flex;
					align-items: center;
					justify-content: center;
					border-radius: 20px;
					color: $textColor;
					font-weight: 550;
				}

				div:hover {
					cursor: pointer;
				}

				.active {
					background: rgba($textColor, 0.9);
					color: $mainColor;
				}
			}

			@keyframes sortAnimOut {
				from {
					opacity: 1;
					transform: translateX(0);
				}
				to {
					opacity: 0;
					transform: translateX(-100%);
				}
			}
			@keyframes sortAnimIn {
				from {
					opacity: 0;
					transform: translateX(-100%);
				}
				to {
					opacity: 1;
					transform: translateX(0);
				}
			}
		}

		.pricesAndTrade {
			display: flex;
			width: 90%;
			@media (max-width: 767px) {
				width: 100%;
			}
			align-items: flex-start;
			justify-content: space-between;
		}

		.pricesInfo {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			width: 70%;
			@media (max-width: 1170px) {
				width: 100%;
			}
			height: 5rem;
			margin-top: -0.5rem;
			margin-bottom: 1rem;

			.pricesCap,
			.pricesVolume,
			.BTCDominance {
				p:nth-child(1) {
					color: $subColor;
					margin-bottom: -0.5rem;
					font-size: 0.9rem;
				}
				p:nth-child(2) {
					color: $textColor;
					// font-weight: bold;
					margin-bottom: -0.5rem;
				}
				p:nth-child(3) {
					color: $textColor;
					font-size: 0.9rem;
				}
			}
		}

		.pricesData {
			display: flex;
			flex-direction: column;
			align-items: center; //change back to flex-start if you want to edit each coin card in the prices page.
			justify-content: center;
			width: 100%;
			margin-bottom: 3rem;
			@media (min-width: 768px) {
				width: 100%;
			}

			.coinList {
				text-decoration: none;
				display: flex;
				align-items: center;
				width: 70%;
				@media (max-width: 1170px) {
					width: 100%;
				}
				justify-content: space-between;
				height: 5rem;
				// border-bottom: 1px solid $subColor;
				margin-top: 0rem;
				transition: all 0.2s ease-in-out;

				.imageAndName {
					@media (max-width: 480px) {
						display: flex;
						width: 70%;
						align-items: center;
					}
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 40%;

					.coinImage {
						height: 2rem;
						width: 2rem;
					}

					.coinNames {
						margin-left: 1rem;

						.coinName {
							color: $textColor;
							text-align: left;
							font-size: 1.05rem;
							margin-bottom: -1rem;
						}
						.coinSymbol {
							color: $subColor;
							text-transform: uppercase;
						}
					}
				}

				.priceAndPercentage {
					@media (max-width: 480px) {
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						text-align: right;
					}
					width: 33.3%;
					margin-left: 2rem;
					display: flex;
					justify-content: space-between;
					align-items: center;
					flex-direction: row;
					height: 5rem;

					.coinPrice {
						color: $textColor;
						font-size: 1rem;
						text-align: left;
						@media (max-width: 480px) {
							margin-bottom: -1rem;
							height: 2rem;
							align-items: flex-start;
							justify-content: flex-end;
						}
					}
				}

				.coinMarketCap {
					color: $textColor;
					text-align: left;
					height: 100%;
					margin-left: auto;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					@media (max-width: 480px) {
						display: none;
					}
				}
			}

			@media (min-width: 768px) {
				.coinList:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}
