$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;

.footer {
  min-height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000;
  @media (min-width: 468px) {
    width: 100vw;
  }

  .container {
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    width: 100%;

    .subContainer {
      width: 100%;
      display: flex;
      @media (max-width: 768px){
        flex-direction: column;
      }
      align-items: center;
      justify-content: space-between;

      .support {
        padding: 1rem;
        max-width: 30rem;
        font-size: 1.5rem;
        @media (max-width: 768px) {
          font-size: 1.25rem;
          text-align: center;
        }
        color: $mainColor;
        span {
          font-weight: bold;
          color: $mainColor;
        }
      }

      .contact {
        font-size: 1rem;
        color: $mainColor;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        @media (max-width: 768px) {
          align-items: center;
        }

        .icons {
          font-size: 2rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
        }

        .github,
        .gmail {
          text-decoration: none;
          color: $mainColor;
          transition: all 0.3s ease;
        }

        .github:hover, .gmail:hover {
          cursor: pointer;
          color: $lightBlue;
        }

        .gmail {
          margin-left: 1rem;
        }
      }
    }
  }

  footer {
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: $mainColor;
  }
}
