$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #2f52e0;
$lightBlue: #4e6ce4;
$orange: #ef5116;
$navyBlue: #262946;
$borderColor: rgb(158, 158, 158);

.coin {
	display: flex;
	justify-content: center;
	margin-bottom: 13rem;
	min-height: 100vh;
	@media (max-width: 768px) {
		margin-bottom: 10rem;
	}
	@media (min-width: 768px) {
		height: 95vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		position: relative;
	}

	.container {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 0 1rem;

		@media (min-width: 768px) {
			max-width: 900px;
			width: 100%;
			padding: 2rem;
			align-items: center;
			justify-content: center;
			margin-top: 2rem;
		}

		.loading {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.header {
			color: $textColor;
			// background: #000;
			display: flex;
			align-items: center;
			text-align: left;
			align-self: center;
			@media (max-width: 480px) {
				align-self: center;
			}
			@media (min-width: 768px) {
				margin-top: -4rem;
			}
			width: 100%;
			font-size: 1.5rem;
			margin-bottom: -.5rem;
			text-transform: capitalize;
			@media (min-width: 768px) and (max-width: 1023px) {
				max-width: 90%;
			}

			.coinBackEmoji {
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 1.5rem;
				margin-left: -0.25rem;
				margin-right: auto;
				cursor: pointer;
			}
			.coinImageAndName {
				display: flex;
				margin-right: auto;
				@media (max-width: 480px) {
					margin-left: -1rem;
				}
			}

			img {
				display: flex;
				align-self: center;
				margin-right: 0.5rem;
				height: 2rem;
				width: 2rem;
			}
		}

		.graphDiv {
			background-color: #4158d0;
			background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
			height: 25rem;
			font-weight: bold;
			width: 100%;
			@media (min-width: 768px) and (max-width: 1023px) {
				width: 90%;
			}
			border-radius: 5px;
			color: $mainColor;
			text-align: center;
			display: flex;
			justify-content: flex-start;
			position: relative;
			.graphGoesHere {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			.currentPriceAndPercentage {
				display: flex;
				align-items: center;
				justify-content: space-around;
				height: 3rem;
				position: absolute;
				top: 10%;
				left: 4%;
				@media (max-width: 480px) {
					left: 6%;
					top: 5%;
				}
			}

			.currentPrice {
				font-size: 2rem;
				@media (max-width: 480px) {
					font-size: 1.5rem;
				}
				font-weight: bold;
				margin-top: 0.25rem;
			}

			.currentPercentage {
				margin-top: -0.5rem;
				margin-left: 0.5rem;
				font-size: 1rem;
				font-weight: 500;
				font-weight: bold;
			}

			.watchIcons {
				position: absolute;
				border: none;

				.watchingCoinIcon,
				.normalCoinIcon {
					animation: watchAnim 0.3s ease-in-out forwards;
				}
				@keyframes watchAnim {
					0% {
						transform: scale(1);
					}

					50% {
						transform: scale(1.3);
					}

					100% {
						transform: scale(1);
					}
				}

				@media (min-width: 1024px) {
					padding: 0.75rem;
					display: flex;
					align-items: center;
					justify-content: space-between;
					top: -15%;
					right: -10%;
					width: 7rem;
					transition: all 0.5s ease-in;
				}
				font-size: 1.5rem;
				top: -12%;
				right: 0%;

				span {
					font-size: 1.25rem;
					color: $subColor;
					margin-left: -0.5rem;
				}
			}

			.selectDays {
				position: absolute;
				top: 108%;
				width: 12rem;
				display: flex;
				justify-content: space-around;
				left: 50%;
				transform: translate(-50%, -50%);

				button {
					outline: none;
					border: none;
					font-size: 1.15rem;
					cursor: pointer;
					font-weight: 500;
					background: transparent;
					color: $textColor;
					transition: all 0.3s ease;
				}

				button:hover {
					color: $lightBlue;
				}

				button.active {
					color: $lightBlue;
				}
			}
		}

		.coinStats {
			font-size: 1.35rem;
			margin-bottom: -0.25rem;
		}

		.coinInformationContainer {
			width: 100%;
			@media (min-width: 768px) and (max-width: 1023px) {
				max-width: 90%;
			}
			@media (max-width: 767px) {
				margin-top: 4rem;
				max-width: 100%;
			}
			margin-top: 2rem;
			color: $textColor;
			position: relative;
			display: flex;
			flex-direction: column;

			.coinPricesContainer {
				border-radius: 5px;
				height: fit-content;

				.mainCoinPrices {
					display: flex;
					@media (max-width: 768px) {
						flex-direction: column;
						align-items: flex-start;
						justify-content: space-evenly;
					}
					width: 100%;
					align-items: center;
					justify-content: space-between;

					div {
						display: flex;
						flex-direction: column;
						@media (max-width: 768px) {
							flex-direction: row;
							width: 100%;
							justify-content: space-between;
							align-items: center;
						}

						p:nth-child(1) {
							font-size: 1.05rem;
							color: $subColor;
							margin-bottom: -0.5rem;
							@media (max-width: 768px) {
								margin-bottom: 1rem;
							}
						}

						p:nth-child(2) {
							font-size: 1.05rem;
							color: $subColor;

							@media (min-width: 768px) {
								font-size: 1.15rem;
								color: $textColor;
							}

							span {
								text-transform: uppercase;
							}
						}
					}
				}
			}

			.tradeCoinMobile {
				margin-top: 2rem;
				@media (max-width: 767px) {
					margin-top: -0.5rem;
				}
				margin-bottom: 1rem;
				width: 100%;
				display: flex;
				align-self: center;
				border: 1px solid $borderColor;
				border-radius: 5px;

				div {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					height: 5rem;

					img {
						height: 3rem;
						margin-left: 1rem;
					}

					p:nth-child(1){
						text-align: center;
						word-break: break-word;
						max-width: 20rem;
					}

					p:nth-child(2) {
						font-size: 1.05rem;
						margin-left: 1rem;

						span {
							text-transform: uppercase;
						}
					}

					p:nth-child(3) {
						// font-size: 1.35rem;
						margin-left: auto;
						margin-right: 1rem;
						display: flex;
						flex-direction: column;

						span:nth-child(1){
							// background: #000;
							font-size: 1.35rem;
							margin-left: auto;
						}
						span:nth-child(2){
							font-size: .95rem;
							color: $subColor;
							margin-left: auto;
						}
					}
				}
			}

			.aboutCoinHeader {
				font-size: 1.35rem;
				margin-top: 1rem;
				@media (min-width: 1024px) {
					margin-bottom: -0.5rem;
				}
			}

			.tradeCoinAndAboutCoinMobile {
				color: $subColor;
				// background: #000;
				@media (min-width: 768px) {
					width: 100%;
				}
				display: flex;
				align-self: flex-start;
				@media (max-width: 480px){
					max-width: 21rem;
				}
				@media (min-width: 481px) and (max-width: 767px) {
					max-width: 30rem;
				}

				.aboutCoinMobile {
					height: fit-content;
					line-height: 1.7;
					font-size: 1.05rem;
					width: 100%;
					border-radius: 5px;

					p:nth-child(1) {
						margin-top: 1rem;
						display: -webkit-box;
						-webkit-line-clamp: 7;
						-webkit-box-orient: vertical;
						overflow: hidden;
						margin-top: -0.5rem;
					}
					p:nth-child(2) {
						margin-top: 0.5rem;
						font-size: 1.15rem;
						color: $subColor;
						font-weight: bold;
						margin-bottom: 0.5rem;
					}
					span {
						margin-top: 0.5rem;
						display: flex;
						align-items: center;
						margin-bottom: 0.5rem;
						font-size: 1.5rem;
						text-align: left;

						a {
							text-decoration: none;
							color: rgb(50, 132, 255);
							margin-left: 0.25rem;
							font-size: 1rem;
						}
					}
				}
			}

			.tradeCoinAndAboutCoin {
				width: 100%;
				display: flex;
				position: relative;

				.aboutCoin {
					color: $subColor;
					height: fit-content;
					line-height: 1.7;
					font-size: 1.15rem;
					width: 45%;
					border-radius: 5px;

					p:nth-child(1) {
						margin-top: 1rem;
						display: -webkit-box;
						-webkit-line-clamp: 7;
						-webkit-box-orient: vertical;
						overflow: hidden;
					}
					p:nth-child(2) {
						margin-top: 1rem;
						font-size: 1.15rem;
						color: $subColor;
						font-weight: bold;
						margin-bottom: 0.5rem;
					}
					span {
						margin-top: 0.5rem;
						display: flex;
						align-items: center;
						margin-bottom: 0.5rem;
						font-size: 1.5rem;
						text-align: left;

						a {
							text-decoration: none;
							color: rgb(50, 132, 255);
							margin-left: 0.25rem;
							font-size: 1rem;
						}
					}
				}

				.tradeCoin {
					display: flex;
					justify-content: space-around;
					background: rgba(#13151b, 1);
					width: 50%;
					margin-left: auto;
					height: 20rem;
					border-radius: 5px;
					color: $mainColor;
					position: relative;

					.buyCoins,
					.sellCoins,
					.convertCoins {
						position: absolute;
						width: 100%;
						left: 0;
						display: flex;
						flex-direction: column;
						align-items: center;
						height: 15rem;

						.input {
							width: 90%;
							display: flex;
							align-items: center;
							justify-content: space-around;
							position: relative;
							color: $mainColor;

							input {
								display: flex;
								height: 1.5rem;
								background: none;
								border: none;
								outline: none;
								font-size: 2.5rem;
								color: $mainColor;
								background: transparent;
								border-radius: 5px;
								width: 70%;
								padding: 1rem;
								text-align: center;
								transition: 0.5s;
							}
							input::-webkit-outer-spin-button,
							input::-webkit-inner-spin-button {
								/* display: none; <- Crashes Chrome on hover */
								-webkit-appearance: none;
								margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
							}

							input[type='number'] {
								-moz-appearance: textfield; /* Firefox */
							}
							span {
								font-size: 1.5rem;
								color: $mainColor;
							}

							div {
								font-size: 1.5rem;
								color: $mainColor;
								cursor: pointer;
								margin-left: 1rem;
							}
						}
						.coinAndWalletTab {
							width: 90%;
							display: flex;
							flex-direction: column;
							margin-top: 1rem;

							div:nth-child(1) {
								background-image: linear-gradient(
									105.3deg,
									rgb(26, 33, 87) 21.8%,
									rgb(51, 62, 146) 100.2%
								);
								transition: 0.5s;
								font-weight: bold;
								padding: 1rem;
								height: 1.35rem;
								border-radius: 5px;
								margin-bottom: 1rem;
								display: flex;
								align-items: center;
								justify-content: space-between;

								p {
									font-size: 1.15rem;
								}

								span {
									font-size: 1.25rem;
								}
							}

							button {
								height: 3rem;
								font-size: 1.15rem;
								padding: 1rem;
								border-radius: 5px;
								outline: none;
								border: none;
								color: $textColor;
								font-weight: bold;
								background: $lightBlue;
								transition: 0.5s;
							}

							button:hover {
								background: $blue;
							}

							div:nth-child(3) {
								transition: 0.5s;
								font-weight: bold;
								padding: 1rem;
								height: 1.35rem;
								border-radius: 5px;
								margin-bottom: 1rem;
								display: flex;
								align-items: center;
								justify-content: space-between;
								font-size: 1rem;
							}
						}
					}
				}
			}
		}
	}
}
