$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;

.wallet {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	@media (max-width: 768px) {
		margin-bottom: 10rem;
	}

	@media (min-width: 768px) {
		height: 95vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
		position: relative;
	}

	.container {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 0 1rem;

		@media (min-width: 768px) {
			max-width: 600px;
			width: 100%;
			padding: 2rem;
			align-items: center;
			@media (min-width: 1024px) {
				align-items: flex-start;
			}
			justify-content: center;
			margin-top: 2rem;
		}

		.loading {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.header {
			color: $textColor;
			display: flex;
			text-align: left;
			align-self: center;
			font-size: 1.5rem;
			font-weight: bold;
			@media (max-width: 767px) {
				align-self: flex-start;
			}
			@media (min-width: 768px) {
				display: none;
			}
		}

		.notActive {
			background-image: linear-gradient(111.6deg, rgba(174, 68, 223, 1) 27.3%, rgba(246, 135, 135, 1) 112.7%);
			background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
			padding: 1rem;
			border-radius: 5px;
			color: $mainColor;
			text-align: center;
			max-width: 20rem;
			display: flex;
			flex-direction: column;
			align-self: center;

			.leadText {
				font-size: 1.25rem;
				font-weight: bold;
				margin-top: 0.25rem;
			}

			.subText {
				margin-top: -0.5rem;
				font-size: 1.05rem;
			}

			.thirdText {
				background: rgba(0, 0, 0, 0.3);
				height: 3rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 5px;
				margin-bottom: 0rem;
				margin-top: 0rem;
				font-size: 1.15rem;
				font-weight: 550;
			}
		}

		.notActive2 {
			color: $subColor;
			text-align: center;
			display: flex;
			flex-direction: column;
			align-self: center;
		}

		.createWallet {
			background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
			padding: 1rem;
			border-radius: 5px;
			color: $mainColor;
			text-align: center;
			max-width: 20rem;
			width: 100%;
			display: flex;
			flex-direction: column;
			align-self: center;

			p:nth-child(1) {
				font-size: 1.25rem;
				font-weight: bold;
				margin-top: -0.25rem;
			}

			p:nth-child(2) {
				font-size: 1.05rem;
				margin-top: -0.5rem;
			}

			button {
				padding: 1rem;
				width: 100%;
				height: 3rem;
				outline: none;
				border: none;
				border-radius: 5px;
				font-size: 1.15rem;
				font-weight: 500;
				background: rgba(0, 0, 0, 0.5);
				color: $mainColor;
				transition: all 0.2s ease-in;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			button:hover {
				background: rgba(0, 0, 0, 0.7);
				cursor: pointer;
			}
		}

		.cardDesign {
			border-radius: 5px;
			box-shadow: 0 5px 5px rgba(182, 182, 182, 0.75);
			color: #fff;
			text-align: center;
			width: 100%;
			height: 12rem;
			position: relative;
			display: flex;
			align-self: center;
			@media (min-width: 768px) {
				max-width: 23rem;
			}

			.cardOptions {
				font-size: 1.5rem;
				position: absolute;
				right: 3%;
				top: 10%;
				cursor: pointer;
			}

			.cardName {
				position: absolute;
				top: 2%;
				left: 7%;
				text-transform: capitalize;

				p {
					font-size: 1.25rem;
				}
			}

			.cardBalance {
				position: absolute;
				left: 7%;
				bottom: -15%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				span {
					font-size: 1.25rem;
				}

				p:nth-child(1) {
					font-size: 1.75rem;
					margin-top: -0.75rem;
					font-weight: bold;
				}
			}
		}

		.assetsHeader {
			color: $textColor;
			display: flex;
			align-self: flex-start;
			@media (min-width: 481px) {
				align-self: center;
			}
			margin-top: 2rem;
			font-size: 1.15rem;
			margin-bottom: -0.5rem;
		}

		.cardAssetsAndTransactions {
			width: 100%;
		}

		.coinsAndTransactions {
			@media (min-width: 768px) {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}

		.assetsContainer,
		.transactionsContainer {
			width: 100%;
			@media (min-width: 768px) and (max-width: 1023px) {
				width: 90%;
			}
		}

		.asset {
			text-decoration: none;
			display: flex;
			align-items: center;
			width: 100%;
			justify-content: space-between;
			height: 4.5rem;
			transition: all 0.2s ease-in-out;

			.imageAndName {
				display: flex;
				flex-direction: row;
				align-items: center;

				img {
					height: 2rem;
					width: 2rem;
					// margin-left: 1rem;
				}
				.nameAndSymbol {
					display: flex;
					flex-direction: column;
					margin-left: 1rem;

					p {
						font-size: 1.05rem;
						color: $textColor;
					}

					span {
						color: $textColor;
						text-transform: uppercase;
					}
				}
			}

			.priceAndBalance {
				display: flex;
				flex-direction: column;
				text-align: right;

				p:nth-child(1) {
					color: $textColor;
					// font-weight: bold;
					font-size: 1.15rem;
					margin-bottom: -0.5rem;
				}

				p:nth-child(2) {
					color: $subColor;
					word-break: break-word;
					max-width: 100%;
					font-size: 0.9rem;
				}
			}
		}

		.transactionsHeader {
			color: $textColor;
			display: flex;
			align-items: center;
			align-self: flex-start;
			@media (min-width: 481px) {
				align-self: center;
			}
			margin-top: 2rem;
			font-size: 1.15rem;
			margin-bottom: -1rem;

			a {
				text-decoration: none;
				margin-left: auto;
				color: $lightBlue;
			}
		}

		.walletTransaction {
			display: flex;
			align-items: center;
			justify-content: space-between;
			width: 100%;
			margin-top: -0.5rem;
			transition: all 0.2s ease-in;

			.transactionIcon {
				padding: 0.55rem;
				border-radius: 5px;
				font-weight: bold;
				font-size: 1rem;
				display: flex;
				align-items: center;
				justify-content: center;
			}

			.memoAndDate {
				margin-left: 1rem;
				display: flex;
				flex-direction: column;
				text-transform: capitalize;
				margin-right: auto;

				p:nth-child(1) {
					font-size: 1rem;
					color: $textColor;
				}

				p:nth-child(2) {
					font-size: 0.9rem;
					@media (min-width: 768px) {
						font-size: 0.95rem;
					}
					margin-top: -0.75rem;
					color: $subColor;
					width: 150px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.value {
				min-width: 4rem;
				color: $textColor;
				font-size: 1rem;
				margin-left: auto;
				text-align: right;
			}
		}

		.walletTransaction:hover {
			cursor: pointer;
			transform: translateY(-5%);
		}
	}
}

.Overlay {
	background-color: rgba(0, 0, 0, 0.55);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	display: none;
	z-index: 5;
}

.Overlay.Show {
	display: block;
}

.newCard {
	display: flex;
	align-self: center;
	height: auto;
	width: 100%;
	max-width: 25rem;
	margin-top: 1rem;
}
