$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #2f52e0;
$lightBlue: #4e6ce4;
$orange: #ef5116;
$navyBlue: #262946;
$borderColor: rgb(158, 158, 158);

.nameModalContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -50%);
	width: 100%;
	max-width: 20rem;
	outline: none;
	border: none;

	@media (max-width: 480px) {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.nameModalSubContainer {
        background: rgba($mainColor, 1);
		flex-direction: column;
		height: 15rem;
		border-radius: 10px;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

		p {
			font-size: 1.15rem;
			// font-weight: bold;
			color: $textColor;
		}

		.closeNameModal {
			position: absolute;
			top: 1%;
			right: 3%;
			border-radius: 5px;
			color: $textColor;
			border: none;
			outline: none;
			background: none;
			padding: 0.5rem 0;
			width: 2rem;
			font-weight: 900;
			font-size: 2rem;
			transition: all 0.2s ease-in-out;
		}
		.closeNameModal:hover {
			cursor: pointer;
			transform: scale(1.2);
		}

		form {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			width: 100%;

			.displayNameInput {
				display: flex;
				flex-direction: column;
				width: 100%;

				input {
					font-size: 1.15rem;
					outline: none;
					border-radius: 5px;
					border: 1px solid $borderColor;
					padding: 0.75rem;
					background: transparent;
					color: $textColor;
					transition: all 0.2s ease-in;
					height: 1rem;
					margin-bottom: 1.5rem;
				}

				input::placeholder {
					color: $subColor;
					font-size: 1rem;
				}

				input:focus {
					border-radius: 5px;
					outline: none;
					border: 1px solid $lightBlue;
				}

				input:hover {
					border: 1px solid $lightBlue;
				}
			}

			.submitBtn {
				border: none;
				outline: none;
				font-size: 1.15rem;
				width: 100%;
                height: 2.75rem;
				border-radius: 5px;
				background: $lightBlue;
                font-weight: bold;
				transition: 0.5s;
				color: $mainColor;
                display: flex;
                align-items: center;
                justify-content: center;
			}

			.submitBtn:hover {
				color: #fff;
				background: $blue;
				text-decoration: none;
			}
		}
	}
}
