$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #2f52e0;
$lightBlue: #4e6ce4;
$orange: #ef5116;
$navyBlue: #262946;

.dashboard {
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
	// height: 100vh;
	@media (max-width: 767px) and (orientation: landscape) {
		margin-bottom: 5rem;
	}
	@media (min-width: 768px) {
		height: 95vh;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-direction: column;
	}

	.container {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 0 1rem;

		@media (min-width: 768px) {
			max-width: 1000px;
			width: 100%;
			padding: 2rem;
			align-items: flex-start;
			justify-content: center;
			margin-top: 2rem;
		}

		.loading {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.header {
			color: $textColor;
			display: flex;
			text-align: left;
			align-self: flex-start;
			font-size: 1.5rem;
			font-weight: bold;
			@media (max-width: 481px) {
				align-self: flex-start;
			}
			@media (min-width: 768px) {
				display: none;
			}
		}

		.notActive {
			background-color: #4158d0;
			background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
			padding: 1rem;
			border-radius: 5px;
			color: $mainColor;
			text-align: center;
			max-width: 20rem;
			display: flex;
			flex-direction: column;
			align-self: center;

			.leadText {
				font-size: 1.35rem;
				font-weight: bold;
				margin-top: 0.25rem;
			}

			.subText {
				margin-top: -0.5rem;
				font-size: 1.05rem;
			}

			.thirdText {
				background: rgba(0, 0, 0, 0.3);
				height: 3rem;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 5px;
				margin-top: 0.25rem;
				margin-bottom: 0rem;
				font-size: 1rem;
				font-weight: 550;
			}
		}
	}
}
