$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #2f52e0;
$lightBlue: #4e6ce4;
$orange: #ef5116;
$navyBlue: #262946;

.sectionThree {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	.container {
		padding: 1rem;
		display: flex;
		align-items: center;
		max-width: 1200px;
		width: 100%;
		justify-content: space-around;
		@media (max-width: 768px) {
			flex-direction: column;
		}

		.listAndGetStarted {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 80%;
			// background: #000;
			@media (max-width: 768px) {
				align-items: center;
				justify-content: center;
				width: 100%;
			}

			.getStarted {
				font-size: 2.25rem;
				font-weight: bold;
				color: $textColor;
				@media (max-width: 768px) {
					font-size: 1.75rem;
				}
			}

			ul {
				list-style-type: none;
				margin: 0;
				padding: 0;
				margin-top: -2rem;
				@media (max-width: 768px) {
					margin-top: -1rem;
					margin-left: 1rem;
				}

				li {
					display: flex;
					align-items: flex-start;

					.header {
						display: flex;
						flex-direction: column;
						justify-content: flex-start;
						width: 100%;
						@media (max-width: 768px) {
							justify-content: center;
						}

						p {
							font-size: 1.25rem;
							@media (max-width: 768px) {
								font-size: 1.35rem;
							}
							text-align: left;
							font-weight: bold;
							color: $textColor;
							margin-bottom: .5rem;
						}

						span {
							font-size: 1.15rem;
							@media (max-width: 768px) {
								font-size: 1.15rem;
							}
							color: $subColor;
						}
					}

					.imgDiv {
						// width: 30%;
						display: flex;
					}

					img {
						height: 2rem;
						width: 2rem;
						margin-left: auto;
						margin-right: 1rem;
						margin-top: 1rem;
					}

					a {
						color: $blue;
						text-decoration: none;
						font-weight: bold;
					}
				}
			}
		}

		img {
			position: relative;
			height: 40rem;
			@media (max-width: 768px) {
				height: 30rem;
			}
			transition: all 0.5s ease;
		}

		.images {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 50%;
			z-index: 4;
		}
	}
}
