$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;

nav {
	position: absolute;
	top: 0%;
	height: 8vh;
	z-index: 10;
	@media (max-width: 768px) and (orientation: landscape) {
		height: 15vh;
	}
	@media (max-width: 812px) and (orientation: landscape) {
		height: 20vh;
	}
	display: flex;
	align-items: center;
	width: 95%;
	justify-content: space-between;

	.logo {
		font-size: 21px;
		font-weight: bold;
		text-decoration: none;
		color: $textColor;
	}

	.desktop {
		width: 50%;
		max-width: 30rem;
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			text-decoration: none;
			color: $textColor;
			font-size: 17px;
			transition: all 0.3s ease-in-out;
			border-bottom: 2px solid transparent;
		}

        a.active {
            color: $blue;
			border-bottom: 2px solid $blue;
        }

		a:hover {
			color: $blue;
			border-bottom: 2px solid $blue;
		}

		.signupBtn {
			height: 3rem;
			width: 8rem;
			background: $blue;
			display: flex;
			align-items: center;
			justify-content: center;
			text-decoration: none;
			color: $mainColor;
			font-weight: bold;
			border-radius: 5px;
			font-size: 1.05rem;
			transition: all 0.2s ease;
			border: 1px solid $blue;
		}

		.signupBtn:hover {
			background: $mainColor;
			color: $blue;
			border: 1px solid $blue;
		}

		@media (max-width: 767px) {
			display: none;
		}
	}

	.mobile {
		margin-right: -0.5rem;
		@media (min-width: 768px) {
			display: none;
		}
	}
}

.mobileNav {
	@media (min-width: 768px) {
		display: none;
	}
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.3s ease-in;
	background: $mainColor;
	height: 92vh;
	@media (max-width: 812px) and (orientation: landscape) {
		height: 85vh;
	}
	width: 100vw;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: 4;
	animation: navIn 0.3s ease-in forwards;

	a {
		text-decoration: none;
		color: $textColor;
		font-size: 1.15rem;
		margin-top: 5rem;
		@media (max-width: 823px) and (orientation: landscape) {
			margin-top: 2rem;
		}
	}

	.signupBtn {
		height: 3rem;
		width: 8rem;
		background: $blue;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		color: $mainColor;
		font-weight: bold;
		border-radius: 5px;
		font-size: 1.05rem;
		transition: all 0.2s ease;
		border: 1px solid $blue;
	}
}
@keyframes navIn {
	from {
		left: 20vh;
		opacity: 0;
	}

	to {
		opacity: 1;
		left: 0;
	}
}
