$mainColor: #000000;
$subColor: #070707;
$textColor: #ebebeb;
$subTextColor: rgb(212, 212, 212);
$blue: #2f52e0;
$lightBlue: #4e6ce4;

.market {
	display: flex;
	justify-content: center;
	margin-bottom: 3rem;
	@media (max-width: 768px) and (orientation: landscape) {
		margin-bottom: 5rem;
	}

	@media (min-width: 768px) {
		height: 95vh;
		width: 100%;
		display: flex;
		align-items: flex-start;
		justify-content: center;
	}

	.container {
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		padding: 0 1rem;
		color: $textColor;

		@media (min-width: 768px) {
			max-width: 1000px;
			width: 100%;
			padding: 2rem 5rem;
			margin-left: 2rem;
			align-items: flex-start;
			justify-content: center;
		}

		.loading {
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.header {
			color: $textColor;
			display: flex;
			text-align: left;
			align-self: flex-start;
			font-size: 1.5rem;
			font-weight: bold;
		}

		.searchBar {
			display: flex;
			align-items: center;
			justify-content: center;
			position: relative;
			width: 100%;
			margin-top: -0.15rem;
			max-width: 25rem;
			@media (min-width: 768px) {
				justify-content: flex-start;
			}

			input {
				background: transparent;
				outline: none;
				border: 2px solid #333;
				padding: 0.5rem;
				width: 100%;
				max-width: 25rem;
				border-radius: 5px;
				height: 1.5rem;
				color: $textColor;
				font-size: 1.15rem;
				transition: all 0.2s ease-in-out;
			}

			input:focus {
				border: 2px solid#fff;
			}

			.searchIcon {
				font-size: 1.25rem;
				height: 100%;
				align-items: center;
				display: flex;
				position: absolute;
				right: 5%;
			}
		}

		.marketData {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: center;
			width: 100%;
			margin-bottom: 3rem;
			@media (min-width: 768px) {
				width: 100%;
			}

			.coinHeaders {
				display: flex;
				width: 100%;
				max-width: 25rem;
				align-items: flex-end;
				justify-content: space-between;
				margin-top: 1.5rem;
				margin-bottom: -1.5rem;

                .headerPrice {
                    margin-left: 5rem;
                }
				@media (max-width: 480px) {
					display: none;
				}
			}

			.coin {
				display: flex;
				align-items: center;
				width: 100%;
				justify-content: space-between;
				max-width: 25rem;
				height: 5rem;
				background: rgba(#0d0f1a, 0.9);
				border-radius: 8px;
				margin-top: 1.5rem;
				transition: all 0.2s ease-in-out;

				.imageAndName {
					@media (max-width: 480px) {
						display: flex;
						width: 70%;
						align-items: center;
						margin-left: 1rem;
					}
					margin-left: 1rem;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					width: 50%;

					.coinImage {
						height: 2rem;
						width: 2rem;
					}

					.coinNames {
						margin-left: 1.15rem;

						.coinName {
							color: $textColor;
							font-weight: bold;
							text-align: left;
							font-size: 1.05rem;
							margin-bottom: -0.5rem;
						}
						.coinSymbol {
							color: rgb(131, 131, 131);
							text-transform: uppercase;
						}
					}
				}

				.priceAndPercentage {
					@media (max-width: 480px) {
						display: flex;
						flex-direction: column;
						align-items: flex-end;
						text-align: right;
						margin-right: 1rem;
					}
                    margin-left: 1rem;
                    width: 10rem;
					display: flex;
					align-items: flex-start;
					flex-direction: column;
					height: 5rem;

					.coinPrice {
						font-size: 1.05rem;
						font-weight: 500;
						@media (max-width: 480px) {
							margin-bottom: -1rem;
							height: 2rem;
							align-items: flex-start;
							justify-content: flex-end;
						}
						align-items: center;
						justify-content: flex-start;
						height: 5rem;
						margin-bottom: -1rem;
						display: flex;
					}

					.coinPercentDown {
						color: #fd272b;
					}

					.coinPercentUp {
						color: #68df44;
					}
				}

				.coinMarketCap {
                    margin-right: 1rem;
                    margin-left: 1rem;
					@media (max-width: 480px) {
						display: none;
					}
				}
			}

			@media (min-width: 768px) {
				.coin:hover {
					transform: scale(1.05);
				}
			}
		}
	}
}
