$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;
$borderColor: rgb(170, 170, 170);

.convertCoins {
	height: 100%;
	position: fixed;
	top: 150vh;
	background: $mainColor;
	width: 100%;
	@media (min-width: 768px) {
		max-width: 30rem;
		display: none;
	}
}

.convertCoins.Show {
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all 0.7s ease-in;

	@media (min-width: 768px) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
	}

	.closeIcon {
		font-size: 1.5rem;
		top: 2%;
		right: 3%;
		position: absolute;
		z-index: 4;
		cursor: pointer;
	}
	.convertForm {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		overflow: auto;
		position: relative;

		.header {
			@media (min-width: 768px) {
				margin-top: 1rem;
			}
			@media (max-width: 1024px) and (orientation: landscape) {
				margin-bottom: 10%;
			}
		}

		.input {
			width: 90%;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			color: $textColor;
			height: 3rem;
			position: relative;
			top: 10%;
			@media (max-width: 767px) and (orientation: portrait) {
				top: 25%;
			}

			@media (max-width: 812px) and (orientation: landscape) {
				top: 0%;
			}

			input {
				height: 2rem;
				background: none;
				border: none;
				outline: none;
				font-size: 3rem;
				color: $textColor;
				background: transparent;
				width: 100%;
				padding: 1rem;
				text-align: center;
				transition: 0.5s;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				/* display: none; <- Crashes Chrome on hover */
				-webkit-appearance: none;
				margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
			}

			input[type='number'] {
				-moz-appearance: textfield; /* Firefox */
			}
			span {
				position: absolute;
				right: 0;
				font-size: 1.25rem;
				color: $subColor;
				background: $mainColor;
			}

			@keyframes vibrateInput {
				0% {
					transform: translateX(-10%);
				}
				20% {
					transform: translateX(10%);
				}
				40% {
					transform: translateX(-10%);
				}
				60% {
					transform: translateX(10%);
				}
				80% {
					transform: translateX(-10%);
				}
				100% {
					transform: translateX(0%);
				}
			}
		}

		.convertContainer {
			font-size: 0.9rem;
			position: absolute;
			/* background by SVGBackgrounds.com */
			background-color: #0066ff;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%231370fd' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%231c7afa' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%232083f8' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23228df5' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%232196f3' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23359cf4' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%2344a2f4' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%2350a8f5' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%235baff5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%2364b5f6' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
			background-size: cover;
			border-radius: 10px;
			width: 82%;
			padding: 1rem;
			bottom: 30%;
			animation: slideUp 0.5s ease-in forwards;
			@media (max-width: 767px) and (orientation: portrait) {
				position: absolute;
				bottom: 45%;
			}
			@media (max-width: 812px) and (orientation: landscape) {
				position: absolute;
				bottom: 20%;
			}

			.from {
				display: flex;
				flex-direction: column;

				p:nth-child(1) {
					font-size: 0.85rem;
					font-weight: bold;
					color: rgb(233, 233, 233);
				}

				p:nth-child(2) {
					font-size: 1.75rem;
					color: $mainColor;
					font-weight: bold;
					margin-top: -0.75rem;

					span {
						font-size: 1rem;
					}
				}
			}

			.to {
				@media (max-width: 767px) and (orientation: portrait) {
					margin-top: 0rem;
				}
				display: flex;
				flex-direction: column;
				margin-top: -1rem;

				p:nth-child(1) {
					font-size: 0.85rem;
					font-weight: bold;
					color: rgb(233, 233, 233);
				}

				p:nth-child(2) {
					font-size: 1.5rem;
					color: $mainColor;
					font-weight: bold;
					margin-top: -0.75rem;

					span {
						font-size: 1rem;
					}
				}
			}

			.refreshesIn {
				display: flex;
				justify-content: center;
				color: $mainColor;
				font-size: 0.95rem;
				font-weight: bold;
				margin-top: -1rem;
				margin-bottom: -1rem;
			}
		}

		@keyframes slideUp {
			from {
				opacity: 0;
				transform: translateY(20%);
			}

			to {
				opacity: 1;
				transform: translateY(0);
			}
		}

		.selectBalanceAndBTN {
			width: 90%;
			display: flex;
			flex-direction: column;
			position: absolute;
			bottom: 5%;
			@media (max-width: 812px) and (orientation: landscape) {
				bottom: -12%;
			}

			.selectCoins {
				display: flex;
				align-items: center;
				justify-content: space-between;
				margin-bottom: 1rem;

				.switchCoins {
					font-size: 1.5rem;
					transform: rotate(45deg);
					height: 3rem;
					width: 3rem;
					border-radius: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}

			.selectCoin {
				height: 4rem;
				width: 41%;
				display: flex;
				align-items: center;
				font-size: 1.15rem;
			}

			.coinAndWalletTab {
				width: 100%;
				display: flex;
				align-items: center;
				flex-direction: column;

				div:nth-child(1) {
					border: 1px solid $borderColor;
					border-radius: 5px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					p {
						margin-left: 1rem;
					}

					span:nth-child(2) {
						margin-right: 1rem;
					}
				}

				button {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 4rem;
					width: 100%;
					font-size: 1.15rem;
					padding: 1rem;
					border-radius: 5px;
					outline: none;
					border: none;
					color: $mainColor;
					font-weight: bold;
					background: #0066ff;
					transition: 0.5s;
					margin-top: 1rem;
				}

				button:hover {
					cursor: pointer;
					background: $blue;
				}

				button[disabled] {
					background: $borderColor;
				}

				button[disabled]:hover {
					cursor: not-allowed;
				}

				div:nth-child(3) {
					margin-top: 1rem;
					width: 90%;
					transition: 0.5s;
					padding: 1rem;
					color: $textColor;
					height: 1.35rem;
					border-radius: 5px;
					margin-bottom: 1rem;
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: 1rem;
				}

				.cancelButton {
					color: $subColor;
					margin-bottom: -1rem;
				}
			}
		}
	}
}

.loading {
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
}
