$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;

.aboutUs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .header {
      display: flex;
      padding: 1rem;
      margin-top: 5rem;
      align-items: center;
      flex-direction: column;
      @media (min-width: 768px) {
        max-width: 1200px;
      }
      text-align: center;
      p:nth-child(1) {
        font-size: 1.75rem;
        font-weight: bold;
        margin-bottom: 0.5rem;
      }

      p:nth-child(2) {
        font-size: 1.15rem;
        color: $subColor;
        max-width: 50rem;
        margin-bottom: 5rem;
        @media (max-width: 768px) {
          margin-bottom: 1rem;
        }
      }
    }

    .body {
      width: 90%;
      max-width: 1200px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .header {
        font-size: 1.75rem;
        font-weight: bold;
        @media (max-width: 768px) {
          margin-bottom: 0.5rem;
        }
      }

      .theTeam {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;

        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 2rem;
          text-decoration: none;
          color: $textColor;

          img {
            height: 8rem;
            width: 8rem;
            border-radius: 100%;
            margin-bottom: -0.5rem;
          }

          p:nth-child(2) {
            font-size: 1.25rem;
            font-weight: bold;
            text-decoration: underline;
          }

          p:nth-child(3) {
            font-size: 1.05rem;
            margin-top: -1.25rem;
            opacity: 0.6;
          }
        }
      }
    }
  }
}
