$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;
$borderColor: rgb(158, 158, 158);

.sourceModalContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -50%);
	width: 100%;
	max-width: 20rem;
	outline: none;
	border: none;

	@media (max-width: 480px) {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.sourceModalSubContainer {
		background: $mainColor;
		flex-direction: column;
		height: 13rem;
		border-radius: 10px;
		padding: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;

        .body {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: -0.75rem;
            
			.intro {
				text-align: center;
                opacity: 0.7;
                font-size: 1.15rem;
                line-height: 1.35;
				margin-bottom: 1.5rem;
            }

			button {
				color: $mainColor;
				font-size: 1.15rem;
				text-decoration: none;
				padding: 0.5rem;
				width: 40%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 7px;
				background: $blue;
				border: 1px solid $blue;
				transition: all 0.2s ease-in;
			}

			button:hover {
				color: $blue;
				background: $mainColor;
			}

			a {
				color: $mainColor;
				font-size: 1.15rem;
				text-decoration: none;
				padding: 0.5rem;
				width: 40%;
				display: flex;
				align-items: center;
				justify-content: center;
				border-radius: 7px;
				background: $blue;
				border: 1px solid $blue;
				transition: all 0.2s ease-in;
			}

			a:hover {
				color: $blue;
				background: $mainColor;
			}
        }
	}
}
