$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;

.statusModalContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-45%, -50%);
	width: 100%;
	max-width: 20rem;
	outline: none;
	border: none;

	@media (max-width: 480px) {
		top: 50%;
		transform: translate(-50%, -50%);
	}

	.statusModalSubContainer {
		background-color: #4158d0;
		background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
        flex-direction: column;
		height: 28rem;
		border-radius: 10px;
		padding: 1rem;
		display: flex;
		justify-content: center;
        align-items: center;

		.iconContainer {
			font-size: 5rem;
			color: #fff;
			margin-bottom: 1rem;
            margin-top: 1rem;
		}
		.privilegesContainer {
			display: flex;
			flex-direction: column;

            div {
                display: flex;
                align-items: center;
                flex-direction: row;
                margin-top: -1rem;
            }

            img {
                height: 1.25rem;
                margin-right: .75rem;
            }
            p {
                color: $mainColor;
                font-weight:  bold;
            }

            div:nth-child(6){
                margin-bottom: 1.5rem;
            }
		}
        .privilegesNote {
            display: flex;
            background: rgba($color: #000000, $alpha: .4);
            text-align: center;
            align-items: center;
            justify-content: center;
            transition: all .5s ease;
            img {
                margin-bottom: -.21rem;
                margin-right: 0;
                margin-left: .25rem;
            }
            padding: 0 1rem;
            border-radius: 10px;
            margin-bottom: 1rem;
        }
        .privilegesNote:hover {
            cursor: pointer;
            background: rgba($color: #000000, $alpha: .7);
        }
	}
}
