$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;

.forgotPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
    @media (max-width: 768px) and (orientation: landscape) {
        margin-bottom: 5rem;
    }

    @media (min-width: 768px){
        height: 95vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .assets {
        position: absolute;
        z-index: -2;
        top: -10%;
        left: -15%;
        @media (max-width: 481px){    
            top: -20%;
            left: -20%;
        }
        @media (min-width: 768px) and (max-width: 1024px){     
            top: -10%;
            left: -20%;
        }

        img {
            position: absolute;
            height: 4rem;
            top: 50%;
            left: 100%;
            transform: rotate(-20deg) scaleX(-1);
            color: $textColor;
            animation: astronautAnim 5s ease-in-out infinite forwards;
            @media (max-width: 481px){
                height: 3rem;
            }
            @media (max-width: 768px) and (orientation: landscape) {
                top: 30%;
            }

            @keyframes astronautAnim {
                0% {
                    transform: translateY(0%) rotate(-20deg) scaleX(-1);
                }

                25% {
                    transform: translateY(10%) rotate(-20deg) scaleX(-1);
                }

                50% {
                    transform: translateY(-10%) rotate(-20deg) scaleX(-1);
                }

                75% {
                    transform: translateY(10%) rotate(-20deg) scaleX(-1);
                }

                100% {
                    transform: translateY(0%) rotate(-20deg) scaleX(-1);
                }
            }
        }


        .circle {
            height: 30rem;
            width: 30rem;
            opacity: 1;
            border-radius: 100%;
            background: linear-gradient(to left, $blue, #B8C4F4);
            animation: circleAnim 5s ease-in-out infinite forwards;
            @keyframes circleAnim {
                from {
                    transform: rotate(0deg);
                }
                to {
                    transform: rotate(360deg);
                }
            }
            @media (max-width: 768px){     
                height: 20rem;
                width: 20rem;
            }
            @media (max-width: 481px){     
                height: 16rem;
                width: 16rem;
            }
        }
    }
    
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 30rem;
        width: 100%;
        margin-top: 10rem;
        @media (min-width: 768px){
            margin-top: -10rem;
        }

        .header {
            color: $textColor;
            font-size: 2rem;
        }

        .resentTrue {
            color: $textColor;
            font-size: 1.35rem;
            padding: 1rem;
            max-width: 20rem;
            text-align: center;
            margin-top: 1.25rem;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .email {
                display: flex;
                flex-direction: column;
                color: $textColor;
                width: 90%;
                max-width: 20rem;
                position: relative;

                label {
                    margin-top: 1.5rem;
                    margin-bottom: .5rem;
                    color: $textColor;
                }

                input {
                    font-size: 1.15rem;
                    outline: none;
                    border-radius: 5px;
                    border: 2px solid $subColor;
                    padding: .75rem;
                    background: transparent;
                    color: $textColor;
                    transition: all .2s ease-in;
                }
                @media (min-width: 768px) {
                    input:hover {
                        border: 2px solid $blue;
                    }
                }
                input:focus {
                    border: 2px solid $lightBlue;
                }

                .eyeIcons {
                    position: absolute;
                    top: 65%;
                    right: 5%;
                    cursor: pointer;
                    font-size: 1.15rem;
                }
            }

            button {
                margin-top: 2rem;
                width: 85%;
                max-width: 20rem;
                height: 3rem;
                border: none;
                border-radius: 5px;
                background: $blue;
                font-size: 1.15rem;
                font-weight: bold;
                color: $mainColor;
                transition: all .2s ease-in;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            button:hover {
                cursor: pointer;
                transform: translateY(-10%);
            }
        }

        .backToLogin {
            color: $subColor;
            text-decoration: none;
            margin-top: 1.5rem;
            font-size: 1.15rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s ease-in;
        } 
        .backToLogin:hover {
            color: $blue; 
        }
    }
}
