$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$borderColor: rgb(158, 158, 158);
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;

.imageContainer {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 1rem;

    .input {
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: absolute;
    }

	input {
		width: 0.1px;
		height: 0.1px;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		z-index: -1;
	}

	label {
		margin-top: -10%;
		width: 90%;
		height: 3rem;
		border-radius: 5px;
		display: flex;
		background: $blue;
		color: $mainColor;
		font-weight: bold;
		align-items: center;
		justify-content: center;

		.icon {
			font-size: 1.5rem;
			margin-right: 0.5rem;
			margin-top: 0.5rem;
		}
	}

	p {
		font-size: 1.05rem;
		color: $subColor;
	}

	.newImageDiv {
        position: absolute;
		background: #000;
        height: 70%;
        max-width: 90%;
		bottom: 23%;

		img {
			height: 100%;
            max-width: 100%;
			border-radius: 5px;
		}

        .icon {
            position: absolute;
            bottom: 2%;
            right: 2%;
            height: 2rem;
            width: 2rem;
            border-radius: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            background: rgba(0, 0, 0, 0.6);
            color: $mainColor;
        }
	}

	button {
		width: 90%;
		height: 3rem;
		border-radius: 5px;
		display: flex;
		background: $blue;
		color: $mainColor;
		font-weight: bold;
		font-size: 1.25rem;
		align-items: center;
		justify-content: center;
		border: 1px solid $blue;
		outline: none;
		border-radius: 5px;
		position: absolute;
		bottom: 4%;
	}
}
