$mainColor: #000000;
$subColor: #070707;
$textColor: #ebebeb;
$subTextColor: rgb(212, 212, 212);
$blue: #2f52e0;
$lightBlue: #4e6ce4;

.navbar {
	position: fixed;
	bottom: 0;
	height: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.25rem;
	background:$mainColor;

	@media (min-width: 768px) {
		left: 0;
		top: 15%;
		position: fixed;
		height: 70%;
		width: 5rem;
		display: flex;
		flex-direction: column;
	}

	a {
		text-decoration: none;
		color: rgb(117, 117, 117);
	}

	a.active {
		color: #fff;
	}

	.tradeIcon {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 3rem;
		width: 3rem;
		margin-top: -1.5rem;
		@media (min-width: 768px) {
			margin-left: 2rem;
			margin-top: 0;
		}
		border-radius: 50%;
		font-size: 1.5rem;
		color: $textColor;
		background: $lightBlue;
		transform: rotate(45deg);
	}
}
