$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #0066ff;
$lightBlue: #64b5f6;
$orange: #ef5116;
$navyBlue: #262946;
$borderColor: rgb(170, 170, 170);

.navbar {
	position: fixed;
	bottom: 0;
	height: 4rem;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 1.35rem;
	background: $mainColor;
	z-index: 5;

	@media (min-width: 768px) {
		position: sticky;
		width: 100%;
		max-width: 1000px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	a {
		text-decoration: none;
		color: $textColor;
		opacity: 0.5;
	}

	a.active {
		color: $textColor;
		opacity: 1;
	}

	.tradeIcon {
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 767px) {
			height: 3.5rem;
			border-radius: 50%;
			font-size: 1.5rem;
			font-weight: bold;
			color: $mainColor;
			opacity: 1;
			background: $textColor;
			width: 3.5rem;
			margin-top: -2rem;
			transform: rotate(45deg);
		}
	}

	@media (max-width: 767px) {
		@keyframes navIconAnim {
			0% {
				transform: scale(1);
			}

			50% {
				transform: scale(1.3);
			}

			100% {
				transform: scale(1);
			}
		}
	}

	.tradeModal {
		position: fixed;
		bottom: -150vh;
		background-color: $mainColor;
		width: 100%;
		box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.15);
		left: 0;
		padding: 1rem 0;
		z-index: 10;
		display: none;
		font-size: 1.15rem;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		height: 40%;
		@media (min-width: 768px) {
			display: none;
			width: 30rem;
			height: 28rem;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		@media (max-width: 812px) and (orientation: landscape) {
			height: 90%;
		}
	}

	.tradeModal.Show {
		bottom: 0;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		transition: all 0.8s ease-in;
		@media (min-width: 768px) {
			display: flex;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.noWallet {
			display: flex;
			align-self: center;
		}

		.tradeModalIcon {
			font-size: 1.5rem;
			margin-right: 1rem;
		}

		.sendCrypto,
		.receiveCrypto,
		.convertCrypto,
		.buyCrypto,
		.sellCrypto {
			cursor: pointer;
			display: flex;
			margin-left: 1rem;
			width: 90%;
		}
	}

	.Overlay {
		background-color: rgba(0, 0, 0, 0.55);
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		position: fixed;
		display: none;
		z-index: 5;
	}

	.Overlay.Show {
		display: block;
	}

	.homeIcon,
	.pricesIcon,
	.walletIcon,
	.accountIcon,
	.tradeIcon,
	.logoApex {
		display: flex;
		flex-direction: column;
		align-items: center;
		font-size: 1.35rem;
		font-weight: bold;

		@media (min-width: 768px) {
			flex-direction: row;
			font-size: 1.35rem;
			font-weight: normal;
			align-items: center;
			justify-content: center;
			margin-left: 2rem;
			margin-top: .5rem;
		}

		p {
			font-size: 0.9rem;
			margin-top: -0.05rem;
			margin-bottom: -0.05rem;

			@media (min-width: 768px) {
				font-size: 1.15rem;
				margin-top: 0;
				margin-bottom: -0.25rem;
			}
		}
	}

	.logoApex {
		height: 3.5rem;
		margin-right: -.75rem;
		opacity: 1;

		img {
			max-height: 100%;
		}
	}
}
