$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #2f52e0;
$lightBlue: #4e6ce4;
$orange: #ef5116;
$navyBlue: #262946;

.landingPage {
	color: $textColor;
	background: $mainColor;
	height: 100vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	z-index: 2;
	overflow: hidden;

	.headers {
		display: flex;
		padding: 1rem;
		max-width: 1200px;
		width: 90%;
		justify-content: space-between;
		@media (max-width: 1024px) {
			display: none;
		}
		@media (max-width: 1024px) and (orientation: landscape) {
			display: none;
		}

		.logo {
			font-size: 1.5rem;
		}

		.buttons {
			display: flex;
			width: 15rem;
			flex-direction: row;

			.signupBtn {
				height: 2.5rem;
				width: 7rem;
				background: $blue;
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				color: $mainColor;
				font-weight: bold;
				border-radius: 5px;
				font-size: 1.15rem;
				transition: all 0.2s ease;
				border: 1px solid $blue;
			}
			.signupBtn:hover {
				background: $mainColor;
				color: $blue;
				border: 1px solid $blue;
			}

			.loginBtn {
				display: flex;
				align-items: center;
				justify-content: center;
				text-decoration: none;
				color: $blue;
				font-weight: bold;
				border-radius: 5px;
				font-size: 1.15rem;
				margin-right: 1.5rem;
				transition: all 0.2s ease;
			}
			.loginBtn:hover {
				color: $lightBlue;
			}
		}
	}

	.coinLogo {
		position: absolute;
		img {
			height: 1.5rem;
			@media (min-width: 768px){
				height: 2rem;
			}
		}
	}

	@keyframes coinLogoAnim1 {
		0% {
			transform: translateY(0%);
		}
		50% {
			transform: translateY(10%);
		}
		100% {
			transform: translateY(0%);
		}
	}
	@keyframes coinLogoAnim2 {
		0% {
			transform: translateX(0%);
		}
		50% {
			transform: translateX(10%);
		}
		100% {
			transform: translateX(0%);
		}
	}

	.coinLogo.bitcoin {
		top: 30%;
		left: 60%;
		animation: coinLogoAnim2 2s ease forwards infinite;
	}
	.coinLogo.ethereum {
		top: 13%;
		left: 76%;
		animation: coinLogoAnim1 2s ease forwards infinite;
	}
	.coinLogo.tether {
		top: 58%;
		left: 70%;
		animation: coinLogoAnim2 2s ease forwards infinite;
	}
	.coinLogo.dogecoin {
		top: 30%;
		left: 30%;
		animation: coinLogoAnim2 2s ease forwards infinite;
	}
	.coinLogo.binanceCoin {
		top: 73%;
		left: 50%;
		animation: coinLogoAnim1 2s ease forwards infinite;
	}
	.coinLogo.cardano {
		top: 10%;
		left: 20%;
		animation: coinLogoAnim1 2s ease forwards infinite;
	}
	.coinLogo.usdCoin {
		top: 54%;
		left: 5%;
		animation: coinLogoAnim2 2s ease forwards infinite;
	}
	.coinLogo.uniswap {
		top: 85%;
		left: 75%;
		animation: coinLogoAnim2 2s ease forwards infinite;
	}
	.coinLogo.bitcoinCash {
		top: 93%;
		left: 38%;
		animation: coinLogoAnim2 2s ease forwards infinite;
	}
	.coinLogo.xrp {
		top: 75%;
		animation: coinLogoAnim1 2s ease forwards infinite;
		left: 20%;
	}
	.coinLogo.tron {
		top: 65%;
		left: 85%;
		animation: coinLogoAnim1 2s ease forwards infinite;
	}
	.coinLogo.ethereumClassic {
		top: 15%;
		left: 50%;
		animation: coinLogoAnim1 2s ease forwards infinite;
	}
	.coinLogo.litecoin {
		top: 35%;
		left: 90%;
		animation: coinLogoAnim2 2s ease forwards infinite;
	}
	.coinLogo.dash {
		top: 2%;
		left: 35%;
		animation: coinLogoAnim2 2s ease forwards infinite;
	}
	.coinLogo.polkadot {
		top: 27%;
		left: 9%;
		animation: coinLogoAnim1 2s ease forwards infinite;
	}

	.mainContainer {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: absolute;
		width: 100%;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);

		@media (min-width: 768px) {
			flex-direction: row;
			align-items: center;
			justify-content: center;
			width: 80%;
			height: 40rem;
			position: absolute;
			top: 45%;
			left: 50%;
			transform: translate(-50%, -50%);
		}

		.container {
			margin-top: 3rem;
			padding: 0 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			width: 80%;

			@keyframes mainAnim {
				from {
					opacity: 0;
					transform: translateY(30%);
				}
				to {
					opacity: 1;
					transform: translateY(0);
				}
			}

			.mainText {
				line-height: 1.75;
				text-align: center;
				color: $subColor;
				opacity: 0;
				animation: mainAnim 0.5s ease-in 0.8s forwards;
				
				font-size: 2rem;
				@media (max-width: 768px) {
					font-size: 1.35rem;
					text-align: center;
				}
				color: $subColor;

				span {
					color: $textColor;
					font-weight: bold;
				}
			}

			.buttons {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				opacity: 0;
				animation: mainAnim 0.5s ease-in 1.2s forwards;

				.signupBtn {
					font-size: 1.5rem;
					height: 4rem;
					width: 13rem;
					@media (max-width: 768px) {
						height: 3rem;
						width: 8rem;
						font-size: 1.15rem;
					}
					background: $blue;
					display: flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					color: $mainColor;
					font-weight: bold;
					border-radius: 5px;
					transition: all 0.2s ease;
					border: 1px solid $blue;
				}
				.signupBtn:hover {
					background: $mainColor;
					color: $blue;
					border: 1px solid $blue;
				}

				.loginBtn {
					display: flex;
					align-items: center;
					justify-content: center;
					text-decoration: none;
					color: $blue;
					font-weight: bold;
					border-radius: 5px;
					font-size: 1.5rem;
					@media (max-width: 768px) {
						font-size: 1.15rem;
					}
					margin-top: 1rem;
					transition: all 0.2s ease;
				}
				.loginBtn:hover {
					color: $textColor;
				}
			}
		}
	}

	footer {
		color: $subColor;
		font-weight: bold;
		padding: 1rem;
		position: absolute !important;
		bottom: 1%;
		left: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translate(-50%, -50%);
		@media (max-width: 767px) {
			display: none;
		}
		@media (max-width: 1024px) and (orientation: landscape) {
			display: none;
		}
	}
}
