$mainColor: #f1f2f4;
$subColor: #5d5c5f;
$textColor: #080809;
$subTextColor: #cbbaba;
$blue: #2f52e0;
$lightBlue: #4e6ce4;
$orange: #ef5116;
$navyBlue: #262946;
$borderColor: rgb(170, 170, 170);

.buyCoins {
	height: 100%;
	position: fixed;
	top: 150vh;
	background: $mainColor;
	width: 100%;
	@media (min-width: 768px) {
		max-width: 30rem;
		display: none;
	}
}

.buyCoins.Show {
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: all .7s ease-in;

	@media (min-width: 768px) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
	}

	.closeIcon {
		font-size: 1.5rem;
		top: 2%;
		right: 3%;
		position: absolute;
	}
	.buyCoinsForm {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		overflow: auto;

		.header {
			@media (min-width: 768px) {
				margin-top: 1rem;
			}
			@media (max-width: 1024px) and (orientation: landscape) {
				margin-bottom: 10%;
			}
		}

		.input {
			width: 90%;
			display: flex;
			align-items: center;
			justify-content: space-around;
			color: $textColor;
			height: 3rem;
			@media (max-width: 767px) and (orientation: portrait) {
				position: absolute;
				bottom: 57%;
			}

			input {
				height: 2rem;
				background: none;
				border: none;
				outline: none;
				font-size: 3rem;
				color: $textColor;
				background: transparent;
				border-radius: 5px;
				width: 50%;
				padding: 1rem;
				text-align: center;
				transition: 0.5s;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
				/* display: none; <- Crashes Chrome on hover */
				-webkit-appearance: none;
				margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
			}

			input[type='number'] {
				-moz-appearance: textfield; /* Firefox */
			}
			span {
				font-size: 1.5rem;
				color: $textColor;
			}

			div {
				font-size: 1.5rem;
				color: $textColor;
				cursor: pointer;
				margin-left: 1rem;
			}
		}

		.amountYouGet {
			font-size: 0.9rem;
			@media (max-width: 767px) and (orientation: portrait) {
				position: absolute;
				bottom: 50%;
			}
		}

		.selectBalanceAndBTN {
			width: 90%;
			display: flex;
			flex-direction: column;
			@media (max-width: 767px) and (orientation: portrait) {
				position: absolute;
				bottom: 5%;
			}

			.selectCoin {
				height: 4rem;
				width: 100%;
				display: flex;
				align-items: center;
				font-size: 1.15rem;
				margin-bottom: 1rem;
			}

			.coinAndWalletTab {
				width: 100%;
				display: flex;
				align-items: center;
				flex-direction: column;

				div:nth-child(1) {
					border: 1px solid $borderColor;
					border-radius: 5px;
					width: 100%;
					display: flex;
					justify-content: space-between;
					align-items: center;

					p {
						margin-left: 1rem;
					}

					span:nth-child(2) {
						margin-right: 1rem;
					}
				}

				button {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 4rem;
					width: 100%;
					font-size: 1.15rem;
					padding: 1rem;
					border-radius: 5px;
					outline: none;
					border: none;
					color: $mainColor;
					font-weight: bold;
					background: $lightBlue;
					transition: 0.5s;
					margin-top: 1rem;
				}

				button:hover {
					cursor: pointer;
					background: $blue;
				}

				div:nth-child(3) {
					margin-top: 1rem;
					width: 90%;
					transition: 0.5s;
					padding: 1rem;
					color: $textColor;
					height: 1.35rem;
					border-radius: 5px;
					margin-bottom: 1rem;
					display: flex;
					align-items: center;
					justify-content: space-between;
					font-size: 1rem;
				}
			}
		}
	}
}
